^{:npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}}
{:optimizations :simple
 :main          {{base}}.data
 :output-to     "resources/public/js/compiled/worker.js"
 ;:modules
 ;               {:worker
 ;                {:output-to "resources/public/js/compiled/worker.js"
 ;                 :entries   #{"{{base}}.data"}}}
 ;
 }