^{
  ;:watch-dirs ["src"]
  ;:css-dirs     ["resources/public/css"]
  ;:auto-testing true
  :npm {:bundles {"dist/index.bundle.js" "src/js/index.js"}}
  }
{:main       {{base}}.core
 ;:optimizations :simple
 :closure-defines {DEBUG true}
 :output-to       "resources/public/js/compiled/app.js"
 ;:output-dir "resources/public/js/compiled"
 ;:verbose       true
 ;:pretty-print  true
 ;:pseudo-names  true
 ;:infer-externs true
 ;:asset-path      "resources/public/js/compiled"
 ;:modules    {:cljs-base
 ;             {:output-to "resources/public/js/compiled/app.js"}
 ;             :common
 ;             {:output-to "resources/public/js/compiled/common.js"
 ;              :entries   #{"{{base}}.data"}}
 ;
 ;             }
 }
